.footer {
  background-color: #F0F2F6;
  padding: 32px;
  padding-top: 5vh;

  line-height: 28px;

  h3 {
    color: #051033;
    @media only screen and (min-width: 1056px) {
      padding-bottom: 12px;
    }
  }

  .follow {
    display: flex;
    flex-direction: column;
  }

  .footer-grid {
    justify-content: center;

    & > * {
      @media only screen and (max-width: 1056px) {
        padding: 12px 0;
      }
    }

    h3 + * {
      color: #828798;
      font-size: 1rem;
    }
  }

  span {
    display: block;
    padding: 5px 0;
  }

  a {
    padding: 6px 0;
  }

  & > p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BBBFC9;
    padding-top: 5vh;
    font-size: 0.9rem;
  }
}