.bg-about {
  left: 0;
  bottom: 0;
  width: 61vw;
  transform: rotateY(180deg);
}

.about {
  height: 100vh;
  padding-left: 8.6vw;

  .about-content {
    width: 100%;
    margin: 0;
    padding-top: 5vh;

    @media only screen and (min-width: 1056px) {
      width: 50%;
      margin-left: auto;
      margin-right: 8.6vw;
    }
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #2e81ff;

    @media only screen and (min-width: 1056px) {
      max-width: 80%;
    }
  }
  h4 {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .part-1 {
    p {
      color: #9397a6;
      line-height: 32px;
      padding-bottom: 32px;

      @media only screen and (min-width: 1056px) {
        max-width: 80%;
      }
    }
  }
  .list {
    max-width: 80%;
  }
}
