.background {
  position: absolute;
  z-index: 19;
  display: none;

  
  @media only screen and (min-width: 1056px) {
    display: block;
  }
}

.bg-content {
  position: relative;
  width: 100%;
}

.back + .bg-content {
  z-index: 20;
}

.front + .bg-content {
  z-index: 18;
}